<%= link_to("Home", books_path)%>
<h1>Delete Book</h1><br>
<p>Are you sure you want to delete this book?</p>
<%= form_for(@book, method: "delete") do |f| %>
<h2><%= @book.title %></h2>



<%= f.submit("Delete Book")%>
<% end %>

